body {
    background-image: url("../images/background.jpg");
    background-position: center;
}

h1 {
    font-weight: 250;
}

h2, h3, h4, h5, h6 {
    font-weight: 200; 
}

h3 {
    margin-top: 20px;
}

.col-lg-12 {
    margin-top: 50px;
    min-height: 525px;
    padding-top: 50px;
}

#start {
    margin-top: 50px;
}

button {
    width: 200px;
}

#question {
    margin-top: 20px;
}

#answer-choices {
    margin-top: 25px;
}

.choices {
    margin: 5px;
}