.col-lg-12 {
    outline-style: dashed;
    margin-top: 50px;
    min-height: 525px;
    padding-top: 50px; 
}

#start {
    margin-top: 100px;
}

#question {
    margin-top: 20px;
}

#answer-choices {
    margin-top: 25px;
}

.choices {
    margin: 5px;
}